#signInButton {
	width: 450px;
	padding-bottom: 30px;
	padding-top: 10px;

}

/* .map {
	margin: auto;
	padding: 10px;
	text-align: center;
} */

.maps {
	/* padding: 10px; */
	border-radius: 20px;
}

@media (max-width: 1400px) {
	.col:last-child {
		padding-top: 20px;
	}

	.map {
		text-align: center;
	}
}

#login-logo {
	/* margin: auto;
	display: block; */
	margin-bottom: 30px;
}
