* {
  margin: 0;
  padding: 0;
}

.classic-style {
  color: #000000;
  text-align: center;
  font-size: 3.5rem;
}
.normal-style {
  color: #000000;
  text-align: center;
}

@font-face {
  font-family: 'dyslexic';
  src: local('dyslexic'), url(./fonts/dyslexic.otf) format('opentype');
}

.dyslexia-mode {
  font-family: dyslexic !important;
}

.high-contrast-mode {
  font-weight: bolder !important;
  letter-spacing: 0.5px !important;
}
